h1 {
    width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}
h2 {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 12px;
  }
.site-header {
    min-width: 550px;
    height: 256px;
    margin-bottom: 70px;
    padding-top: 30px;
    background: #f46b6b no-repeat center url("img/telegram-bg.png");
    background-size: cover;
    color: #ffffff;
  }
  .site-header p {
    width: 150px;
    margin: 0 auto 26px;
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
  }
.container {
    width: 510px;
    margin: 0 auto;
    padding: 0 20px;
}
.features {
    width: 510px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
  }
.features-interacteble {
    padding-top: 64px;
    background-image: url("img/user.svg");
}